.movie-poster {
  height: 268px;
  object-fit: fill;
}

.trailer-poster {
  height: 475px;
  object-fit: cover;

}

.btn-orange {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background: #FF8D1B;
  text-align: center;
  padding: 6px 30px;
  font-weight: bold;
}