.movie-poster {
  height: 268px;
  width: 182px;
  object-fit: scale-down;
}

.trailer-poster {
  height: 320px;
  object-fit: cover;

}

.btn-orange {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background: #FF8D1B;
  text-align: center;
  padding: 6px 30px;
  font-weight: bold;

  margin-top: 1em;
}

.btn-orange:focus {
  outline: none;
}

.btn-orange:hover {
  background: #212121;
}

.btn-orange {
  display: inline-block;
  color: #212121;
  font-size: 1em;
}

.btn-orange:first-child {
  padding-right: 1em;
}