.error {
  color: red;
}

.movie-poster {
  height: 268px;
  width: 182px;
  object-fit: scale-down;
}

.trailer-poster {
  height: 320px;
  object-fit: cover;
}

.btn-orange {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background: #FF8D1B;
  text-align: center;
  padding: 6px 30px;
  font-weight: bold;
  margin-top: 1em;
}

.btn-orange:focus {
  outline: none;
}

.btn-orange:hover {
  background: #212121;
}

.btn-orange {
  display: inline-block;
  color: #212121;
  font-size: 1em;
}

.btn-orange:first-child {
  padding-right: 1em;
}

.tag-ctn {
  position: relative;
  height: 28px;
  padding: 0;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  cursor: default;
  display: block;
}

.tag-ctn-invalid {
  border: 1px solid #CC0000;
}

.tag-ctn-readonly {
  cursor: pointer;
}

.tag-ctn-disabled {
  cursor: not-allowed;
  background-color: #eeeeee;
}

.tag-ctn-bootstrap-focus,
.tag-ctn-bootstrap-focus .tag-res-ctn {
  border-color: rgba(82, 168, 236, 0.8) !important;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tag-ctn input {
  border: 0;
  box-shadow: none;
  -webkit-transition: none;
  outline: none;
  display: block;
  padding: 4px 6px;
  line-height: normal;
  overflow: hidden;
  height: auto;
  border-radius: 0;
  float: left;
  margin: 2px 0 2px 2px;
}

.tag-ctn-disabled input {
  cursor: not-allowed;
  background-color: #eeeeee;
}

.tag-ctn .tag-input-readonly {
  cursor: pointer;
}

.tag-ctn .tag-empty-text {
  color: #DDD;
}

.tag-ctn input:focus {
  border: 0;
  box-shadow: none;
  -webkit-transition: none;
  background: #FFF;
}

.tag-ctn .tag-trigger {
  float: right;
  width: 27px;
  height: 100%;
  position: absolute;
  right: 0;
  border-left: 1px solid #CCC;
  background: #EEE;
  cursor: pointer;
}

.tag-ctn .tag-trigger .tag-trigger-ico {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid gray;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  margin-left: 9px;
  margin-top: 13px;
}

.tag-ctn .tag-trigger:hover {
  background: -moz-linear-gradient(100% 100% 90deg, #e3e3e3, #f1f1f1);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#e3e3e3));
}

.tag-ctn .tag-trigger:hover .tag-trigger-ico {
  background-position: 0 -4px;
}

.tag-ctn-disabled .tag-trigger {
  cursor: not-allowed;
  background-color: #eeeeee;
}

.tag-ctn-bootstrap-focus {
  border-bottom: 1px solid #CCC;
}

.tag-res-ctn {
  position: relative;
  background: #FFF;
  overflow-y: auto;
  z-index: 9999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #CCC;
  left: -1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tag-res-ctn .tag-res-group {
  line-height: 23px;
  text-align: left;
  padding: 2px 5px;
  font-weight: bold;
  border-bottom: 1px dotted #CCC;
  border-top: 1px solid #CCC;
  background: #f3edff;
  color: #333;
}

.tag-res-ctn .tag-res-item {
  line-height: 25px;
  text-align: left;
  padding: 2px 5px;
  color: #666;
  cursor: pointer;
}

.tag-res-ctn .tag-res-item-grouped {
  padding-left: 15px;
}

.tag-res-ctn .tag-res-odd {
  background: #F3F3F3;
}

.tag-res-ctn .tag-res-item-active {
  background-color: #3875D7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3875D7', endColorstr='#2A62BC', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #3875D7), color-stop(90%, #2A62BC));
  background-image: -webkit-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
  background-image: -moz-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
  background-image: -o-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
  background-image: linear-gradient(#3875D7 20%, #2A62BC 90%);
  color: #fff;
}

.tag-sel-ctn {
  overflow: auto;
  line-height: 22px;
  padding-right: 27px;
}

.tag-sel-ctn .tag-sel-item {
  background: #555;
  color: #EEE;
  float: left;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 3px;
  margin-left: 5px;
  margin-top: 4px;
}

.tag-sel-ctn .tag-sel-text {
  background: #FFF;
  color: #666;
  padding-right: 0;
  margin-left: 0;
  font-size: 14px;
  font-weight: normal;
}

.tag-res-ctn .tag-res-item em {
  font-style: normal;
  background: #565656;
  color: #FFF;
}

.tag-sel-ctn .tag-sel-item:hover {
  background: #565656;
}

.tag-sel-ctn .tag-sel-text:hover {
  background: #FFF;
}

.tag-sel-ctn .tag-sel-item-active {
  border: 1px solid red;
  background: #757575;
}

.tag-ctn .tag-sel-ctn .tag-sel-item {
  margin-top: 3px;
}

.tag-stacked .tag-sel-item {
  float: inherit;
}

.tag-sel-ctn .tag-sel-item .tag-close-btn {
  width: 7px;
  cursor: pointer;
  height: 7px;
  float: right;
  margin: 8px 2px 0 10px;
}

.tag-sel-ctn .tag-sel-item .tag-close-btn:hover {
  background-position: 0 -7px;
}

.tag-helper {
  color: #AAA;
  font-size: 10px;
  position: absolute;
  top: -17px;
  right: 0;
}

.star-blue {
  color: #3F51B5 !important;
}